.g-fl-ar {
	width: 100%;
	height: 30px;
}
.g-fixed-left {
	float:left;
	width: 100px;
	height: 100%;
}

.g-auto-right {
	margin-left: 110px;
	height: 100%;
}

.g-ar-fl {
	width: 100%;
	height: 30px;
}
.g-fixed-right {
	float:right;
	width: 100px;
	height: 100%;
}

.g-auto-left {
	margin-right: 110px;
	height: 100%;
}

.g-fl-ma-fr {
	width: 100%;
	height: 30px;
}

.g-fl-ma-fr-l {
	float: left;
	width: 100px;
	height: 100%;
}

.g-fl-ma-fr-r {
	float: right;
	width: 100px;
	height: 100%;
}

.g-fl-ma-fr-m {
	margin-left: 110px;
	margin-right: 110px;
	height: 100%;
}


